* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;   
}

body {
  font-family: Tahoma, sans-serif;
  letter-spacing: 0.05em;
}

h1 {
  color: #4a4a4a;
  /* font-size: 4em; */
  font-size: 3vmax;
}

h2 {
  color: #4a4a4a;
  font-size: 2.5vmax;
}

h3 {
  color: #4a4a4a;
  font-size: 1.8vmax;
  
}

header {
  height: 64px;
  padding: 0px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo-holder {
    @media (max-width: 640px) {
        display: none;
      }
    display: flex;
    align-items: center;
    img {
      height: 48px;
    }
    p {
      color: #9b9b9b;
      font-size: 32px;
      span {
        font-weight: 600;
        color: #4a4a4a;
      }
    }
  }

  .nav-desktop {
    display: flex;
    gap: 16px;
    font-size: 1.5vmax;
    color: #4a4a4a;
    font-weight: 400;
    @media (max-width: 640px) {
        display: none;
      }
  }

  .nav-mobile {
    display: none;
    img {
      height: 40px;
    }
    a {
      text-decoration: none;
    }
    @media (max-width: 640px) {
      display: inline-block;
      margin: auto;
    }
  }
}

.hero {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #d8d8d8;
  padding: 32px 24px;
  gap: 24px;

  @media (max-width: 640px) {
    flex-direction: column;
    padding: 0;
  }
  
  .hero-img-container {
    width: 60%;
    @media (max-width: 640px) {
      width: 100%;
    }
  }

  .hero-text {
    width: 40%;
    padding-right: 7%;
    @media (max-width: 640px) {
      width: 100%;
      padding: 32px 16px;
    }
    p {
      color: #4a4a4a;
      font-weight: 600;
      font-size: 1.7vmax;
      line-height: 1.5;
      margin: 24px 0px;
      @media (max-width: 640px) {
        margin: 32px 0px;
      }
    }
    .call-to-action {
      background-color: #4a4a4a;
      display: flex;
      justify-content: center;
      padding: 8px 0px;
      a {
        text-decoration: none;
        color: #f9f9f9;
        font-size: 1.5vmax;
      }
    }
  }
}

.information {
  display: flex;
  background-color: #f3f5f5;

  p {
    color: #4a4a4a;
    font-size: 1.3vmax;
  }

  .info-main {
    @media (max-width: 640px) {
      display: none;
    }
    width: 60%;
    padding: 32px 24px 0px 24px;
    h2 {
      margin: 32px 0px;  
    }
    .info-signature {
      margin-top: 24px;
      margin-bottom: 32px;
      font-family: Helvetica;
    }
  }

  .info-small {
    @media (max-width: 640px) {
      width: 100%;
    }
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-left: 1px #d8d8d8 solid;

    .orientation {
      margin-top: 16px;  
      border-bottom: 1px #d8d8d8 solid;
      @media (max-width: 640px) {
        border: 0px;
      }
    }
    
    campus {
      border-top: 1px #d8d8d8 solid;
      border-bottom: 1px #d8d8d8 solid;
      @media (max-width: 640px) {
        border: 0px;
      }
    }
    .guest-lect {
      background-color: #d8d8d8;
      border-top: 1px #d8d8d8 solid;
      @media (max-width: 640px) {
        border: 0px;
        background-color: #f3f5f5;
      }
    }

    .mobile {
        display: none;
        @media (max-width: 640px) {
          display: inline-block;
        }
    }

    article {
      display: flex;
      padding: 16px;
      @media (max-width: 640px) {
        flex-direction: column;
      }
      figure {
        .desktop {
          width: 35%;
          height: auto;
          @media (max-width: 640px) {
            display: none;
          }
        }
      }
      .info-small-text {
        width: 65%;
        margin-left: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
          padding-top: 8px;
          padding-bottom: 12px;
        }
        a {
          text-decoration: none;
          font-size: 1.3vmax;
          font-family: Tahoma;
          color: #4a90e2;
        }
      }
    }
  }
}

.course {
  display: flex;
  flex-direction: column;
  background-color: #d8d8d8;
  @media (max-width: 640px) {
    background-color: #f3f5f5;
  }
  h2 {
    padding: 32px 0px;
    text-align: center;
    @media (max-width: 640px) {
      padding: 32px 0px 16px 0px;
    }
  }

  .courses-all {
    display: flex;
    flex-direction: column;
    margin: 0px 56px;

    p {
      font-size: 1.4vmax;
      @media (max-width: 640px) {
        display: none;
      }
    }
    .courses-row {
      display: flex;
      @media (max-width: 640px) {
        flex-direction: column;
      }
      article {
        margin: 0px 16px 32px 16px;
        flex-basis: 100%;
        display: flex;
        flex-direction: column;

        .course-text {
          padding: 16px 16px 24px 16px;
          background-color: white;
        }

        figure {
          @media (max-width: 640px) {
            display: none;
          }
        }
      }
    }
  }
}

.thesis {
margin-bottom: 32px;
  h2 {
    padding: 32px;
    text-align: center;
  }

  p {
    color: #4a4a4a;
    font-size: 1.3vmax;
    @media (max-width: 640px) {
        display: none;
      }
  }

  .thesis-container {
    display: flex;
  }

  .thesis-main {
    width: 60%;
    margin: 0px 24px;

    h3 {
      padding-top: 24px;
      padding-bottom: 8px;
      @media (max-width: 640px) {
        display: none;
      }
    }

    
  }
  .thesis-small {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    @media (max-width: 640px) {
        display: none;
      }

    .fisma {
      background-color: #d8d8d8;
    }
    article {
        display: flex;
        padding: 16px;
        figure {
          width: 35%;
          height: auto;
        }
        .thesis-small-text {
          width: 65%;
          margin-left: 16px;
          display: flex;
          flex-direction: column;
          justify-content: center;
  
          p {
            padding-top: 8px;
            padding-bottom: 12px;
          }
        }
    }
  }
}

footer {
  border-top: #d8d8d8 1px solid;
  p {
    font-size: 1.15vmax;
  }
  padding: 16px 16px 0px 24px;
  display: flex;
  justify-content: space-between;
  .terms-and-privacy {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }
}